fastapi
uvicorn[standard]
starlette
click
h11
watchfiles
annotated-doc
anyio
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt==3.2.0
pyjwt
python-dotenv
pydantic-settings
email-validator
slowapi
pytest
httpx
